{% extends "homepage.html" %}

{% block title %}
  Fléshi - Criar Conta
{% endblock %}

{% block form %}

<div class="d-flex justify-content-center">
    <div class="border m-5 shadow-lg rounded-5 p-5 w-50">
        <form method="post">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", required=True) }}

                {% if form.email.errors %}
                    {% for erro in form.email.errors %}
                        <p class="alert alert-danger mt-2">{{ erro }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", required=True) }}

                {% if form.username.errors %}
                    {% for erro in form.username.errors %}
                        <p class="alert alert-danger mt-2">{{ erro }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", required=True) }}
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control", required=True) }}
            </div>
            {{ form.submit(class="btn btn-outline-success w-100") }}
        </form>
        <div class="text-center mt-3">
            <a href="{{ url_for('homepage') }}" class="w-100 d-block mt-3">
                Tem uma conta? Faça login!
            </a>
        </div>
    </div>
</div>

{% endblock %}
