{% extends "homepage.html" %}

{% block title %}
    Fléshi - Feed
{% endblock %}

{% block body %}

    {% include "navbar.html" %}
        <h1>Feed</h1>

    {% for photo in photos %}

    <div class="foto-container">

        <a href="{{ url_for('profile', user_id=photo.user_id) }}">
            <img src="{{ url_for('static', filename='posts_photos/' ~ photo.file_name) }}" alt="Imagem">
        </a>

        <div class="post-actions">
            <form method="POST" action="{{ url_for('download_photo') }}">
                        <input type="hidden" name="photo_id" value="{{ photo.id }}">
                        <button type="submit" class="btn-download">Baixar foto</button>
            </form>

            <form action="{{ url_for('like', photo_id=photo.id) }}" method="POST">

                {% set liked = Like.query.filter_by(user_id=current_user.id, photo_id=photo.id).first() %}

                {% if liked %}
                    <button type="submit" class="like-button">Descurtir</button>
                {% else %}
                    <button type="submit" class="like-button">Curtir</button>
                {% endif %}
                <span class="like-count">{{ Like.query.filter_by(photo_id=photo.id).count() }} curtidas</span>
            </form>
        </div>

    </div>

{% endfor %}


{% endblock %}