{% extends "homepage.html" %}

{% block title %}
  Fléshi - Perfil
{% endblock %}
{% block body %}
    <body>
        <h1>Perfil do Usuário: {{username}} </h1>
        {% if form %}
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.photo() }}
                {{ form.submit() }}
            </form>
        {% endif %}
        <a href="{{ url_for('logout') }}">Sair</a>

        {% for photo in user.photos %}
            <img src="{{ url_for('static', filename='posts_photos/'~ photo.file_name) }}" alt="Imagem">
        {% endfor %}




    </body>
{% endblock %}