{% extends "homepage.html" %}

{% block title %}
  Fléshi - Perfil
{% endblock %}
{% block body %}
    <body>
        {% include "navbar.html" %}
        <h1>Perfil do Usuário: {{ user.username }} </h1>
        {% if form %}
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.photo() }}
                {{ form.submit() }}
            </form>
        {% endif %}


        {% for photo in user.photos %}
            <img src="{{ url_for('static', filename='posts_photos/'~ photo.file_name) }}" alt="Imagem">
            <!--botão excluir-->
            <form method="POST" action="{{ url_for('delete_photo', photo_id=photo.id) }}">
                <button type="submit">Excluir</button>
                </form>
        {% endfor %}


    </body>
{% endblock %}